{% extends "layout.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Full Stack Goomba Website</h1>

            <!-- If the user is logged in, show this -->
            {% if session['username'] %}
            <h3>Welcome back!</h3>

            <!-- Else, show them this -->
            {% else %}
                <p>Already registered? <a href="{{ url_for('login') }}">Login</a></p>
            
            {% endif %}

            <div style="text-align: left;">
                <h2>Welcome to my Site</h2>
                <p>This is my first time working with full stack development. Wish me luck!</p>
                <p>We're still in development. Look forward to more updates by clicking the link below:</p>
                <a href="https://github.com/JulianMichaelRice/Flask-Python-JamCreator">GitHub</a>
            </div>
        </div>
    </div>

{% endblock %}